.heroSection { 
  background-image: url("/images/bg-dskpt.jpg");
  height: 600px ;
  background-size: cover;
  background-position: center bottom;
}

.HeroContainer { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.Content h1{
  font-weight: 900;
  color: #fff;
  font-size: 50px;
  margin-bottom: 25px;
}

.Content p { 
  color: rgba(255, 255, 255, 0.856);
  font-weight: 400;
  font-size: 20px;
  width: 70%;
  line-height: 5vh;

}

.Content { 
  width: 50%;
}


.MockupSection { 
  height: 500px;
  background-color: #e6e5e5;
}