.navbar{
    background-color: #359ac9;
    padding: 50px 20px;
    margin-bottom: 20px;
}

.NavContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo { 
    width: 65%;
}

.navLinks a { 
    color: #fff;
    margin-left: 10px;
}