/* Estilos principais */
  .MainSection { 
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1697d3;
      min-height: 100vh; 
  }
  
  .LoginTitle { 
      color: #0c658f;
        font-size: 1.9em;
        margin-bottom: 30px;
  }

  .Content p { 
    color: #646464;
    font-weight: 300;
  }
  
  .form {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 300px;
      height: 350px;
      background-color: #ffffff;
      border-radius: 15px;
      padding: 24px; /* Espaçamento interno consistente */
  }
  
  .LoginInputs { 
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 65%;
  }
  
  .button { 
      width: 200px;
      height: 35px;
      margin-top: 24px; /* Espaçamento consistente */
      border: none; 
      cursor: pointer;
      color: #fff;
      background-image: linear-gradient(45deg, #1697d3, #0c658f); 
      border-radius: 25px;
      padding: auto; 
      transition: background-color 0.3s ease; 
      font-size: 1rem;
  }
  
  .button:hover { 
      background-color: #1b96cf;
  }
  
  .button:focus {
      outline: 2px solid #0c658f; 
  }
  
  .button:active {
      transform: translateY(1px); 
  }
  
  .inputModel { 
      width: 250px;
      height: 25px;
      border: none; 
      border-bottom: 1px solid #0c658f;
      background: transparent;
      margin-top: 16px; 
      padding: 8px 0px; 
      color: #333; 
  }

  .inputModel:focus { 
    outline: none; 
}

.inputModel::placeholder{ 
    color: #7a7a7a;
    font-weight: 100;
}